/*----------GENERAL STYLE----------*/
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    margin: 0%;
    color: whitesmoke;
    overflow-x: hidden; /* Prevents the horizontal scroll bar from appearing when anything is hovered over */
}
main {
    background-color: #fff;
    min-width: 100vw;
}
.growtext:hover {
    transform: scale(1.5);      /* Makes the element increase 1.5 times in size */
    transition: transform .5s;  /* Makes the transform effect last 1.5 seconds */
    text-shadow: 3px 3px 5px white;
}
h1, h2, h3, h4 {
    font-variant: small-caps;
}
a:link, a:visited {
    color: whitesmoke;
}
.stylebox {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    background: rgba(0,0,0,.5);
    box-shadow: 0 0 10px rgba(0,0,0,.5); 
}
.stylebox:hover {
    backdrop-filter: blur(2px) /*brightness(30%)*/; 
    -webkit-backdrop-filter:  blur(2px);
    -moz-backdrop-filter: blur(2px);
}
/*----------END GENERAL STYLE----------*/

/*----------BACKGROUND ANIMATION----------*/
.bg {
    width: 100%;
    height: 100%;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, 
        rgba(221, 245, 246,.75) 0%, 
        rgba(99, 99, 222,.75) 25%, 
        rgba(193, 255, 192,.75) 51%, 
        rgba(0,0,0,.75)); 
    animation: backgroundfade 20s ease infinite;
    /*
    rgba(0,0,0,1) 0%, 
    rgba(0,0,40,1) 25%, 
    rgb(30, 0, 45) 51%, 
    rgba(0,0,0, 1));  
    */
}

@keyframes backgroundfade { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*----------END BACKGROUND ANIMATION----------*/

/*-----------MENU----------*/
.menu-bar{
    position: fixed;
    overflow: hidden;
    top: 0;
    z-index: 1;
    text-align: right;
    width: 100%;
    background-color: transparent;
}
.menu ul {
    list-style: none;
    display: inline;
}
.menu li {
    display: inline-block;
    padding: 5px 20px;
    font-weight: 600;
}
.menu li input {
    border-radius: 10px;
    text-align: right;
    box-shadow: inset 1px 2px 10px 0 rgba(0,0,0,.5);
}
.menu li input:hover {
    background-color: gainsboro;
}
.logo {
    position: absolute;
    display: inline;
    top: 3px;
    left: 3px;
}
/*-----------END MENU----------*/

/*----------HEADER----------*/
#bannervideo {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
    vertical-align: bottom;
    min-width: 100%;
}
.bannertitle {
    color: whitesmoke;
    margin: 3vw;
}
.bannertitle h1 {
    font-family: 'Corinthia', cursive;
    font-weight:600;
    font-size: 10vw;
    font-variant: normal;
    text-align: center;
}
.bannertitle h3 {
    text-align: center;
}
/*INTRO*/
.intro-container {
    background: rgba(0,0,0,.75);
    padding: 10px;
}
#intro {
    text-align: center;
    padding: 30px;
}
/*END INTRO*/
/*----------END HEADER----------*/

/*----------ROW & COLUMN STYLE----------*/
.row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow: hidden;
}
.column1 {
    width: 50%;
}
.column2 {
    width: 50%;
}
.row:after {
	content: ""; 
    display: table; 
    clear: both; /*Clear any other elements from floating on the left or the right of an element*/
}
/*----------END ROW & COLUMN STYLE----------*/


/*----------GITHUB SECTION----------*/
#github {
    padding: 10px;
}
.github-text {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}
.github-text a:link, .github-container a:visited {
    text-decoration: none;
}
.github-text p a:link, .github-text p a:visited {
    color:lightskyblue;
}
.github-img {
    text-align: center;
}
.github-img img {
    height: 40vh;
    border-radius: 10px;
}

/*END GITHUB SECTION*/

/*----------ABOUT----------*/
#about {
    padding: 10px;
}
.about-text {
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}
.about-text p {
    text-align: justify;
}
.about-img {
    text-align: center;
}
.about-img img {
    height: 40vh;
    filter: grayscale(100%);
    border-radius: 10px;
}
.about-text ul {
    list-style: none;
    margin-left: -45px;
}
/*----------END ABOUT----------*/

/*----------TECHNOLOGIES & SKILLS----------*/
#tech {
    padding: 10px;
}
.tech-text {
    margin: 10px auto;
}
.tech-text h1{
    margin: 0;
    text-align: center;
}
.tech-text td{
    padding: 0 30px;
    vertical-align: top;
}

/*SLIDESHOW*/
/*SLIDESHOW-CONTAINER*/
.slideshow-container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    left: 0;
    right: 0;
    max-width: 33%;  /*Set the width of the slideshow*/   
}
/*IMAGES*/
.mySlides img {
    border-radius: 10px;
    vertical-align: middle;
}
/*HIDE IMAGES BY DEFAULT*/
.mySlides {
    display: none;
}

/*NEXT AND PREVIOUS BUTTONS*/
.prev, .next {
    position: absolute;
    margin-top: -22px;
    top: 50%;
    padding: 16px;
    cursor:pointer;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}
/*POSITION OF THE NEXT BUTTON TO THE RIGHT*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*ON HOVER, ADD A BLACK BACKGROUND COLOR WITH A LITTLE BIT SEE-THROUGH*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,.8);
}
/*CAPTION TEXT*/
.slide-text {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;    
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(0,0,0,.5);
}
/*DOTS, BULLETS, INDICATORS*/
.dot {
    display: inline-block;
    margin: 0 2px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/*FADING ANIMATION*/
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opadity: .4}
    to {opacity: 1}
}
/*END SLIDESHOW*/
/*----------END TECHNOLOGIES & SKILLS----------*/

/*----------CONTACT FORM----------*/
#contact {
    display: none;  /*HIDE BY DEFAULT*/
    position: fixed;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0,0,0,.75);*/
    top: 0;
    left:0;
}
.contact-container {
    position: fixed;
    z-index: 5;     /*Ensure it sits on top of other elements*/
    background-image: url("../img/contact.jpg");
    background-size: cover;
    /*Center the contact-container within the view window*/
    width: 550px;   
    height: 450px;  
    left: 50%;
    margin-left: -275px; /*Subtract Half the width of the form to center it  horizontally*/
    top: 50%;
    margin-top: -225px; /*Subtract Half the height of the form to center it vertically*/
}
.contact-text {
    text-align: center;
}
.contact-form input, .contact-form textarea{
    margin-bottom: 10px;
    padding: 5px 0;
    width: 50%;
    min-width: 75px;
    border-radius: 10px;
    box-shadow: inset 1px 2px 10px 0 rgba(0,0,0,.5);
}
.contact-form textarea{
    width: 100%;
}
.contact-form input:hover, .contact-form textarea:hover {
    background-color: gainsboro;
    box-shadow: 1px 2px 6px white, -1px -2px 6px white;
}
.contact-form input:nth-child(6) {
    width: 100%;
}
.contact-buttons{
    text-align: center;
}
#contactsubmit, #contactcancel{
    display: inline-block;
    padding: 10px;
    width: 45%;
}
/*----------END CONTACT FORM----------*/

/*CONTACT-BUTTON*/
#contact-button {
    margin: 10px;
    text-align: center;
}
#contact-button button{
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    font-family: 'Corinthia', cursive;
    font-size: 35px;
    background-image: linear-gradient(0deg, 
    rgba(193, 255, 192,.75) 0%, 
    rgba(99, 99, 222,.75) 50%, 
    rgba(193, 255, 192,.75)); 
}
#contact-button button:hover {
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 10px white;
}
/*END CONTACT-BUTTON*/

/*----------FOOTER----------*/
footer {
    padding: 10px;
    background-color: black;
    text-align: center;
}
/*----------END FOOTER----------*/

